
@charset "UTF-8";

body {
    background-color: #3C80D6;
}

h1 {
    margin: auto;
    text-align: center;
    margin: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.43);
    padding: 10px;
    
}
footer > p {
    color: white;
    text-align: center;
    font-style: italic;
}

form {

    text-align: left;

}

form > p {
    color: black;
}

div {
    text-align: left;
}
