*{
    padding: 0px;
    margin: 0px;
    /* border: none; */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
}

#div_mae{
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #EEEDEF;
    width: 100%;
    align-items: stretch;
    
}

.div_filhos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin: 3px;
    padding-left: 5px;
    border: 3px solid gray;

}



button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #89888A;
    color: white;
    border: none;
    margin-top: 3px;
}

input {
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

#div_bolinhas{
  width: 100%; 
  height: 83.5vh; 
  position: relative;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  
    
    
}

.bola {
    position: absolute;
    border-radius: 100px;
}