*{
    box-sizing: border-box;
}

#div_container {
   height:100%;
   width: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   background-color: rgba(0, 0, 0, 0.692); 
}


#login1{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    align-items: baseline;
    justify-content: space-between;
    
}

#login1 > #cabecalho {
    background-color: #3D88FF;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    height: 30px;
    width: 100%;
    color: white;
}

#login1> #corpo {
    padding-left: 3px;
}

#login1 > #rodape {
    background-color: #C6C6C6;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;


    

}
.botao {
    background-color: #3D88FF;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;

}