
.container {
        width:400px ;
        height: 600px;
        background-color: #EEEDEF;
        border: 5px solid black;
        margin-left: 13%;
        position: absolute;

        
}
#container2 {
    margin-left: 55.8%;  
    

}


.destaque {
    background-color:#950D00 !important;
    color: #ccc !important;
    border-color: #f00 !important;

}
.curso {
    
    position: flex;
    justify-content: center;
    width: 62%;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 12px 0px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    cursor: pointer;
    text-align: center;
    

}

.curso:hover {
    border-color: red;
}

.c1 {
    background-color: #ccc;
    color: #444;
}

.c2 {
    background-color: #444;
    color: #ccc;
}


#botão {
   
    background-color: #002258;
    color: white;
    border-radius: 10px;
    padding: 12px 50px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    top: auto;
    transform: translate(-50%);
    
}

#botão:hover {
    cursor: pointer;
    
}